@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html{
  height:100%;
}
body{
  margin:0px;
  height:100%;
  display:flex;
  font-family: "Red Hat Display";
}
div{
    display:flex;
    margin:0px;
}
.row{
    flex-direction:row;
}
.col{
    flex-direction:column;
}
#indexLeft{
    width:60%;
    background-color: black;
}
#indexRight{
    width:40%;
}