@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html{
    height:100%;
}
body{
    margin:0px;
    height:100%;
    display:flex;
    font-family: "Red Hat Display";
}
div{
    display:flex;
    margin:0px;
}
button{
    display:flex;
    margin:0px;
}
.row{
    flex-direction:row;
}
.col{
    flex-direction:column;
}
#indexLeft{
    width:50%;
    background-color: black;
    justify-content:center;
    align-items:center;
    height:100%;
}
#loginBox{
    height:100%;
    width:60%;
    justify-content: center;
    align-items:center;
}
#loginHeader{
    font-size:24px;
    font-weight:bold;
}
#loginFields{
    width:100%;
    background-color:white;
    align-items:center;
    justify-content: center;
    padding:20px 10px;
    border-radius:10px;
    height:70%;
}
#loginFields input{
    width:85%;
    font-size:16px;
    background-color:rgba(0,0,0,0);
    border:none;
    margin:20px 0px;
    padding:10px 0px;
    border-bottom: 2px solid rgb(110, 110, 110);
}
#loginFields input:focus{
    outline:none;
    border-bottom: 2px solid #6968be;
}
#loginFields a{
    text-decoration:none;
}
#loginSubmit{
    font-size:18px;
    margin:5px;
    color:white;
    border-radius:30px;
    background-color:rgb(0, 0, 0);
    padding:10px 20px;
    font-weight:500;
    transition: background-color 0.3s;
}
#loginSubmit:hover{
    background-color:rgb(87, 86, 86);
}
#loginFields a:hover{
    text-decoration:underline;
}
#forgot{
    font-weight:bold;
    color:#6968be;
    font-size:18px;
    margin:5px 0px;
}
#forgot:hover{
    text-decoration:underline;
}
#need{
    color:black;
    font-size:20px;
}
#loginFields h2{
    font-size:16px;
    color:rgb(82, 155, 82);
    font-weight:normal;
}
#errorLabel{
    margin:5px 0px;
    font-size:18px;
    font-weight:normal;
    color:red;
}

#googleLoginBox{
    width:80%;
    align-items:stretch;
    margin:20px 0px;
    justify-content:center;
    padding:10px;
    background-color:rgba(0,0,0,0);
    border-radius:15px;
    border:solid 2px black;
}
#googleLoginBox h2{
    margin:0px;
    font-weight:normal;
    color:black;
    font-family: "Red Hat Display";
    font-size:16px;
}
#googleLoginBox img{
    width:25px;
    margin:0px 5px;
}
#indexRight{
    width:50%;
}
.hidden{
    opacity:0;
}